<a href="https://colab.research.google.com/github/srikanthmandava9/Srikant_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [11]:
def string_length(string):
    count =0
    for char in string:
        count +=1
    return count
print(string_length('SrikanthMandava'))

15

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [54]:
# write your answer here    
import operator

def char_freq(string):
  str_d = dict()
  for n in string:
    count = 0
    for m in string:
      if n == m:
        count += 1
    str_d[n] = count
  A = dict( sorted(str_d.items(), key=operator.itemgetter(1),reverse=True))
  return A
print("Expected Result:", char_freq('google.com'))

Expected Result: {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [14]:
# write your answer here
def sum_list(numbers):
    sum_numbers = 0
    for n in numbers:
        sum_numbers  +=n
    return sum_numbers
print(sum_list([10,20,30,60]))

120

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [18]:
# write your answer here
def character_change(string):
  character = string[0]
  string = string.replace(character, '$')
  string = character + string[1:]
  return string
print(character_change('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [26]:
# write your answer here
def error(error_desc):
  print(error_desc)
  return

def S(a, b):
  if n == 0:
    error("Error: divided by zero")
  return 3.14 * (1+a/b)**3

a = int (input("Enter a value a:"))
b = int(input("Enter b value b:"))
print("S:", S(a,b))

Enter a value a:7
Enter b value b:8
S: 20.6982421875

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={}
for n in (dic1, dic2, dic3): dic4.update(n)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [17]:
# write your answer here
truplex = ("s", "P", 2, "r", "t", "M","w", "e",)
print(6 in truplex)
print("s" in truplex)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [22]:
# write your answer here
A = set([20, 10, 15, 60, 5])
#minimum value
print(min(A))
#maximum value
print(max(A))

5
60

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [29]:
# write your answer here
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
group_size = []
for n in range(5):
    group_size.append(random.randint(3,5))
if sum(group_size) == len(studnet_list):
   print(group_size)
   for m in range(5):
     x = random.sample(student_list,group_size[m-1])
     student_list = [m for m in student_list if m not in x]
     print("Group" +str(m+1)+":", x)