<a href="https://colab.research.google.com/github/srikanthmandava9/Srikant_INFO5731_Spring2021/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
from random import randrange
a = [ randrange(1,100) for J in range(12)]
print(sorted(a))
b = sum(a)/len(a)
print(f"Average: {b}")

[20, 22, 38, 39, 39, 55, 58, 65, 72, 73, 74, 92]
Average: 53.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import string			
import math				
import collections		

#enter a random sentence
user_sentence=input("Enter a sentence: ")	
user_sentence1=input("Enter another sentence: ")

print("You entered first sentence: ", user_sentence)
print("You entered second sentence: ", user_sentence1)

sentence_list = user_sentence.split()
print("The first sentence you entered, formatted as a list is: ", sentence_list)
sentence_list1 = user_sentence1.split()
print("The second sentence you entered, formatted as a list is: ", sentence_list1)

common_words = set(sentence_list) & set(sentence_list1)
print("The common words are: ", common_words)

mark=set(string.punctuation)

def punctuation(a):
  sentence_no_punctuation = " "
  for letter in a:
	  if letter not in mark:
		  sentence_no_punctuation=sentence_no_punctuation + letter
  print("The sentence you entered without punctuation is: ", sentence_no_punctuation)
punctuation(user_sentence)

punctuation(user_sentence1)

vowels="aeiou"
print("First sentence vowels:")
def vowel(a):
  for a in vowels:
    print (a,":", user_sentence.lower().count(a))
vowel(user_sentence)
print("Second sentence vowels:")
vowel(user_sentence1)

Enter a sentence: A topic sentence essentially tells readers what the rest of the paragraph is about. All sentences after it have to give more information about that sentence, prove it by offering facts about it, or describe it in more detail.
Enter another sentence: Topic sentences also need to relate back to the thesis of the essay. The thesis statement is like a road map that will tell the reader or listener where you are going with this information or how you are treating it.
You entered first sentence:  A topic sentence essentially tells readers what the rest of the paragraph is about. All sentences after it have to give more information about that sentence, prove it by offering facts about it, or describe it in more detail.
You entered second sentence:  Topic sentences also need to relate back to the thesis of the essay. The thesis statement is like a road map that will tell the reader or listener where you are going with this information or how you are treating it.
The first sentence you entered, formatted as a list is:  ['A', 'topic', 'sentence', 'essentially', 'tells', 'readers', 'what', 'the', 'rest', 'of', 'the', 'paragraph', 'is', 'about.', 'All', 'sentences', 'after', 'it', 'have', 'to', 'give', 'more', 'information', 'about', 'that', 'sentence,', 'prove', 'it', 'by', 'offering', 'facts', 'about', 'it,', 'or', 'describe', 'it', 'in', 'more', 'detail.']
The second sentence you entered, formatted as a list is:  ['Topic', 'sentences', 'also', 'need', 'to', 'relate', 'back', 'to', 'the', 'thesis', 'of', 'the', 'essay.', 'The', 'thesis', 'statement', 'is', 'like', 'a', 'road', 'map', 'that', 'will', 'tell', 'the', 'reader', 'or', 'listener', 'where', 'you', 'are', 'going', 'with', 'this', 'information', 'or', 'how', 'you', 'are', 'treating', 'it.']
The common words are:  {'is', 'of', 'the', 'sentences', 'or', 'that', 'to', 'information'}
The sentence you entered without punctuation is:   A topic sentence essentially tells readers what the rest of the paragraph is about All sentences after it have to give more information about that sentence prove it by offering facts about it or describe it in more detail
The sentence you entered without punctuation is:   Topic sentences also need to relate back to the thesis of the essay The thesis statement is like a road map that will tell the reader or listener where you are going with this information or how you are treating it
First sentence vowels:
a : 17
e : 27
i : 14
o : 13
u : 3
Second sentence vowels:
a : 17
e : 27
i : 14
o : 13
u : 3

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
# volume equation
def volume(radius):
    return (4/3)*math.pi*(radius**3)

print("r\t V")
r=1
while r <= 10:
    print(r,"\t",round(volume(r),4))
    r += 1

r	 V
1 	 4.1888
2 	 33.5103
3 	 113.0973
4 	 268.0826
5 	 523.5988
6 	 904.7787
7 	 1436.755
8 	 2144.6606
9 	 3053.6281
10 	 4188.7902

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [142]:
#4(1) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.
import csv
import pandas as pd
housing_units_occupied = {}
file_reader = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
file_reader
df1 = df.loc[df["title_field"] == "Occupied Housing Units"]
#df = file_reader.groupby("Total Housing Units")
df1

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

In [128]:
#Question 4(2): calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
#Year Vacant Housing Units
import csv
import numpy
import pandas as pd
housing_units_occupied = {}
df = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df1 = df.loc[df["title_field"] == "Vacant Housing Units"]

df1['percentage'] = (df1['value']/df1['value'].sum())*100
df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

    year           title_field  value  percentage
1   2014  Vacant Housing Units   2814   10.841424
4   2013  Vacant Housing Units   4215   16.239020
7   2012  Vacant Housing Units   3013   11.608106
10  2011  Vacant Housing Units   4213   16.231315
13  2010  Vacant Housing Units   3635   14.004469
16  2009  Vacant Housing Units   3583   13.804130
19  2008  Vacant Housing Units   4483   17.271536

In [127]:
#Question 4(2): calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
#Year Occupied Housing Unitsimport csv
import numpy
import urllib.request
import pandas as pd
from bs4 import BeautifulSoup
housing_units_occupied = {}
df = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df2=df.loc[df["title_field"] == "Occupied Housing Units"]
df2['percentage'] = (df2['value']/df2['value'].sum())*100
df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

    year             title_field  value  percentage
2   2014  Occupied Housing Units  46295   16.163665
5   2013  Occupied Housing Units  43673   15.248207
8   2012  Occupied Housing Units  42108   14.701795
11  2011  Occupied Housing Units  40704   14.211596
14  2010  Occupied Housing Units  41007   14.317387
17  2009  Occupied Housing Units  35916   12.539890
20  2008  Occupied Housing Units  36711   12.817460

In [109]:
#4(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant 
import csv
import pandas as pd
housing_units_occupied = {}
df = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df1 = df.loc[df["title_field"] == "Vacant Housing Units" ]
#df2 = df.loc[df["title_field"] == "Occupied Housing Units" ]

df1.max()
#df2.max()

year                           2014
title_field    Vacant Housing Units
value                          4483
dtype: object

In [129]:
#4(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were occupied  .
import csv
import pandas as pd
housing_units_occupied = {}
df = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df2 = df.loc[df["title_field"] == "Occupied Housing Units" ]

df2.max()

year                             2014
title_field    Occupied Housing Units
value                           46295
dtype: object

In [96]:
#Question 4(4): Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm
import csv
import pandas as pd
housing_units_occupied = {}
df = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df1 = df.loc[df["title_field"] == "Total Housing Units"]
df1.mean()

year      2011.000000
value    44624.285714
dtype: float64